<!DOCTYPE html>
<html>
  <head>
    <title>ManageTasks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'ManageTasks', "/", method: :get, class: "navbar-brand btn" %>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <%= link_to 'Home', destroy_user_session_path, method: :delete, class: "nav-link btn" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Mypage', destroy_user_session_path, method: :delete, class: "nav-link btn" %>
            </li>
            <li class="nav-item active">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link btn" %>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <% if user_signed_in? %>
        <div class="register">
          <a href="/tasks/new"><button type="button" class="btn btn-outline-info">タスク追加</button></a>
        </div>
        <% end %>
        
        <%= yield %>
        
      </div>
    </div>  
  </body>
</html>
